---
title: 'ゲーム作り始めました'
date: '2026-09-19'
thumbnail: '/images/news/thumbnail/2026/20260919'
tags: ['news', 'game']
published: true
---

### ずっと工事中

サイトをリリースする前から薄々感じていたことですが。。。

結構燃え尽きていました🔥

やはり、一つのゴールであるリリースをいざ迎えてしまうと、やる気やら何やら出てこないもんなんですね。

だって、ゴールしちゃったんですもの。

あと単純に本業も忙しかったというのもあったりなかったり(ﾗｼﾞﾊﾞﾝﾀﾞﾘｯ)

そんな日々を過ごしていたのですが、時間的余裕が結構出てきたので創作意欲が復活してきました！

なので、ずっと工事中のまま放置していた、とあるページに着手し始めたんですよ。

そう、A-Breakページです。

### A-Breakとは

はい、完全に雰囲気だけで作ってみたページです。(まだ中身入ってないので形だけ)

英語の意味からもなんとなく察することができると思うのですが、コンセプトとしてはホッと息抜きができるようなイメージです。

ですが、サイトの息抜きって何やねんですよね。わかります。

サイト全体を見てみると、技術的な事書いてあったり、技術的な事書いてあったり(ﾗｼﾞﾊﾞry)

なので、全然サイトと関係ないことをコンテンツにしたかったんですよね。

猫の画像とか貼り付けておけば勝手に癒されてくれるとも考えたのですが、流石に毛色が違いすぎる。(黒とオレンジの猫っているんですかね？)

ということで、ゲーム作ることにしました。

### ゲームを作りたい

<NewsImg src="2026/20260919-01" alt="テンプルラン" />

最初テンプルランみたいな、ずっと走り続けるようなゲームとか考えていました。

ですが、テンプルランのような3Dゲームってめちゃくちゃ重いみたいなんですよね🤔

特に今回は軽いサイト作りを心がけているので、色々根本から変わってきてしまいます。(既に読み込みに時間かかるページあるけど。。。)

じゃあ軽いゲームってなんだ。。。？じゃんけんか。

### ムシキング！！！

<NewsImg src="2026/20260919-02" alt="ムシキング" />

！？！？！？

チャッピーとお話しながらゲームを考えていたら、ムシキングになってました。

同世代の人、ムシキング語りましょう。アダーコレクションかっこいい。

ただ、虫登場させちゃうと流石に世界観がズレてきます。

だから、もう少しだけサイトの世界観を取り込んだじゃんけんにする予定です。

完成する予定です。

### 仕様書から書いてみてます

サイト作るだけなら、ノリと勢いでチャッピーと一緒に作ることができたんですけど、ゲームは無理すぎました。

仕様書書かないとルールが破綻します。(ただのじゃんけんゲームだったらノリと勢いで作れたと思うんですけど)

あと、過去にUnity使って簡単なゲーム作ったことはあるんですけど、ブラウザゲームは完全に未知数。。。

しかもゲームエンジン無し。

まあ、作り始めちゃったので完成に近づけていこうと思いますー。

では、今回はこのへんで。。。
