---
title: 'KeveltKit始動します！'
date: '2026-07-01'
thumbnail: '/images/news/2026/07/20260701'
tags: ['news']
published: true
---

### 4ヶ月くらい作ってました

なんとなくの思いつきで始めたサイト開発ですが、ようやく完成しました。。。！

といっても、まだまだ工事中のページは存在するわけでぼちぼち進めていきます  
(完成度としては現時点で90％くらいですかね)

A-Breakページどうしようかなあ🤔

### 大変だった思い出

途中何度も飽きそうになりまして、開発を継続させるのがめちゃくちゃ大変でした。。。

仕事であれば、目先に給料という餌をぶら下げられながら進捗率を上げていくことができるのですが、
個人開発は基本的に何も発生しないですからね。

特に今回のようなポートフォリオ的なサイトからマネタイズさせるのはめちゃくちゃ難しい。

ただ、費やしてきた時間を考えるとここで飽きるのはもったいなすぎる。。。

そんな気分で開発を続けていきました！

### 結果大満足

仕事での開発って全然好き勝手できないんですよね。

なんか使いづらいUIであったり、微妙なデザインだなと思っても、基本的にはそれが正解なのです。

たまに「こっちのほうが良くないすか？」と聞いてみたりしますが、今のままでいいと言われればそれが正解なのです。

正解なのです。

なので、ぜーーーーんぶ自分の思い通りに開発を進められて、大満足です！

根幹となるデータの型定義変えたとしても、周りのエンジニアにお伺い立てることなく修正できますからね。

### 最後に

そんな感じで一旦開発終わりましたよって話です。

いや、開発は終わってないな。いわゆるフェーズ1が終わった感じですかね。

違う違う、始動しますって話でした。

まだまだ進化の途中なので今後の進展を乞うご期待！

では、今回はこのへんで。。。
